.request-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    width: 100%;
}

.request-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.avatar-and-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.requester-info {
    justify-content: flex-start;
    margin-right: 20px;
    /* Add space to the right */
}

.target-info {
    justify-content: flex-end;
    margin-left: 20px;
    /* Add space to the left */
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    /* Ensure space around the avatar */
}

.name {
    font-size: 22px;
    /* Increase font size */
    font-weight: 500;
    /* Change font weight */
}

.accepted-status {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    min-width: 100px;
    margin: 0 20px;
    flex-shrink: 0;
    /* Prevent shrinking */
}

.accepted-status.pending {
    background-color: #aaa;
}

.accepted-status.accepted {
    background-color: #4caf50;
    /* Green */
}

.accepted-status.declined {
    background-color: #f44336;
    /* Red */
}

.actions {
    display: flex;
    gap: 10px;
}

.no-requests {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .request-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .actions {
        margin-top: 10px;
    }

    .avatar-and-info {
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }

    .accepted-status {
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }
}