<nav class="navbar">
    <div class="navbar-left">
        <img src="../../../assets/images/logo.png" alt="Studmate Logo">
        <span class="title" (click)="navigateToUsers()">Studmate</span>
    </div>
    <div class="navbar-right">
        <button mat-icon-button>
            <mat-icon>group</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>message</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</nav>