body {
    background-color: #eaf4f7;
}

.sidenav-container {
    height: 100%;
}

.drawer {
    width: 500px;
    padding: 16px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}