<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Dorm</mat-label>
        <mat-select formControlName="dorm">
            <mat-option *ngFor="let dorm of dorms" [value]="dorm.id">{{ dorm.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Major</mat-label>
        <mat-select formControlName="major">
            <mat-option *ngFor="let major of majors" [value]="major.id">{{ major.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex">
            <mat-option *ngFor="let sex of sexes" [value]="sex.id">{{ sex.type }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Avatar URL</mat-label>
        <input matInput formControlName="avatar_image">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>