<!-- <app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()" #adminForm="ngForm">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="adminEmail" required>
    </div>
    <div>
        <label for="dorm">Dorm:</label>
        <select id="dorm" name="dorm" [(ngModel)]="selectedDormId" required>
            <option *ngFor="let dorm of dorms" [value]="dorm.id">{{ dorm.name }}</option>
        </select>
    </div>
    <button type="submit">Create Dorm Admin</button>
</form> -->

<app-navbar></app-navbar>
<div class="form-container">
    <!-- <div class="form-header">
        Create Dorm Admin
    </div> -->
    <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="adminEmail" required class="form-control">
        </div>
        <div class="form-group">
            <label for="dorm">Dorm:</label>
            <select id="dorm" name="dorm" [(ngModel)]="selectedDormId" required class="form-control">
                <option *ngFor="let dorm of dorms" [value]="dorm.id">{{ dorm.name }}</option>
            </select>
        </div>
        <button type="submit">Create Dorm Admin</button>
    </form>
</div>