<!-- <h1 mat-dialog-title>Request to Be Roommates</h1>
<div mat-dialog-content>
    <p>This operation should be made after a discussion with the student.</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="primary" (click)="onConfirmClick()">OK</button>
</div> -->

<h1 mat-dialog-title>Accept Roommate Request</h1>
<div mat-dialog-content>
    <p>This action is irreversible. Are you sure you want to accept this roommate request?</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="primary" (click)="onConfirmClick()">OK</button>
</div>